<tr class="border-b bg-[#00325F] border-white transition-all  hover:bg-white hover:text-black hover:duration-700">
    <td class="px-6 py-3"> <%= record.matricula %> </td>
    <td class="px-6 py-3"> <%= record.first_name %> </td>
    <td class="px-6 py-3"> <%= record.middle_name %> </td>
    <td class="px-6 py-3"> <%= record.last_name %> </td>
    <td class="px-6 py-3"> <%= record.last_name_prefix %> </td>
    <td class="px-6 py-3"> <%= record.gender %> </td>
    <td class="px-6 py-3"> <%= record.program %> </td>
    <td class="px-6 py-3"> <%= record.created_at.strftime("%d/%m/%Y %H:%M:%S") %> </td>
</tr>